*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.nav-text{
    color: #959595;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.contact-btn{
    border: 2px solid #9D0A14;
    padding:18px;
    background-color: #fff;
    color: #9D0A14;
}
.contact-btn:hover{
    background-color: #9D0A14;
    color: #fff;
}

@media only screen and (min-device-width: 480px) 
and (max-device-width: 660px)  {
    #navbarNav {
        height: 100vh !important;
    }
    .navbar-collapse.show #navbarImage {
        position: absolute;
        background: url(/hero.png);
        background-size: cover;
        width: 440px;
        height: 489px;
        left: 182px;
        top: 155px;
        opacity: 0.1;
  }  
}

@media only screen and (max-device-width: 479px)  {
    #navbarNav {
        height: 100vh !important;
    }
    .navbar-collapse.show #navbarImage {
        position: absolute;
        background: url(/hero.png);
        background-size: cover;
        width: 340px;
        height: 387px;
        left: 110px;
        top: 123px;
        opacity: 0.1;
  }  
}